# Exploring and pre-processing a dataset using Pandas

In [1]:
import numpy as np  
import pandas as pd

In [35]:
file_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/Canada.xlsx'

df_can = pd.read_excel(file_path,
    sheet_name='Canada by Citizenship',
    skiprows=range(20),
    skipfooter=2,
    engine='openpyxl')

In [36]:
df_can = df_can.iloc[:, 0:43]
df_can.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,16.0,...,2978.0,3436.0,3009.0,2652.0,2111.0,1746.0,1758.0,2203.0,2635.0,2004.0
1,Immigrants,Foreigners,Albania,908.0,Europe,925.0,Southern Europe,901.0,Developed regions,1.0,...,1450.0,1223.0,856.0,702.0,560.0,716.0,561.0,539.0,620.0,603.0
2,Immigrants,Foreigners,Algeria,903.0,Africa,912.0,Northern Africa,902.0,Developing regions,80.0,...,3616.0,3626.0,4807.0,3623.0,4005.0,5393.0,4752.0,4325.0,3774.0,4331.0
3,Immigrants,Foreigners,American Samoa,909.0,Oceania,957.0,Polynesia,902.0,Developing regions,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Immigrants,Foreigners,Andorra,908.0,Europe,925.0,Southern Europe,901.0,Developed regions,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0

In [16]:
df_can.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1013 entries, 0 to 1012
Columns: 43 entries, Type to 2013
dtypes: float64(37), object(6)
memory usage: 340.4+ KB

In [17]:
df_can.columns

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')

In [18]:
df_can.index

RangeIndex(start=0, stop=1013, step=1)

In [19]:
print(type(df_can.columns))
print(type(df_can.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

In [21]:
print(type(df_can.columns.tolist()))
print(type(df_can.index.tolist()))

<class 'list'>
<class 'list'>

In [22]:
df_can.shape

(1013, 43)

In [23]:
# in pandas axis=0 represents rows (default) and axis=1 represents columns.
df_can.drop(['AREA','REG','DEV','Type','Coverage'], axis=1, inplace=True)
df_can.head(2)

,OdName,AreaName,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16.0,39.0,39.0,47.0,71.0,340.0,...,2978.0,3436.0,3009.0,2652.0,2111.0,1746.0,1758.0,2203.0,2635.0,2004.0
1,Albania,Europe,Southern Europe,Developed regions,1.0,0.0,0.0,0.0,0.0,0.0,...,1450.0,1223.0,856.0,702.0,560.0,716.0,561.0,539.0,620.0,603.0

In [38]:
df_can.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Region'}, inplace=True)
df_can.columns

Index([     'Type',  'Coverage',   'Country',      'AREA', 'Continent',
             'REG',    'Region',       'DEV',   'DevName',        1980,
              1981,        1982,        1983,        1984,        1985,
              1986,        1987,        1988,        1989,        1990,
              1991,        1992,        1993,        1994,        1995,
              1996,        1997,        1998,        1999,        2000,
              2001,        2002,        2003,        2004,        2005,
              2006,        2007,        2008,        2009,        2010,
              2011,        2012,        2013],
      dtype='object')

In [39]:
df_can[['Country', 1980, 1981, 1982, 1983, 1984, 1985]] # returns a dataframe

             Country  1980  1981  1982  1983  1984   1985
0        Afghanistan  16.0  39.0  39.0  47.0  71.0  340.0
1            Albania   1.0   0.0   0.0   0.0   0.0    0.0
2            Algeria  80.0  67.0  71.0  69.0  63.0   44.0
3     American Samoa   0.0   1.0   0.0   0.0   0.0    0.0
4            Andorra   0.0   0.0   0.0   0.0   0.0    0.0
...              ...   ...   ...   ...   ...   ...    ...
1008             NaN   NaN   NaN   NaN   NaN   NaN    NaN
1009             NaN   NaN   NaN   NaN   NaN   NaN    NaN
1010             NaN   NaN   NaN   NaN   NaN   NaN    NaN
1011             NaN   NaN   NaN   NaN   NaN   NaN    NaN
1012             NaN   NaN   NaN   NaN   NaN   NaN    NaN

[1013 rows x 7 columns]

In [40]:
df_can['Total'] = df_can.sum(axis=1)
df_can['Total']

0       65977.0
1       18433.0
2       72156.0
3        2774.0
4        2749.0
         ...
1008        0.0
1009        0.0
1010        0.0
1011        0.0
1012        0.0
Name: Total, Length: 1013, dtype: float64

In [41]:
df_can.Country  # returns a series

0          Afghanistan
1              Albania
2              Algeria
3       American Samoa
4              Andorra
             ...
1008               NaN
1009               NaN
1010               NaN
1011               NaN
1012               NaN
Name: Country, Length: 1013, dtype: object

In [42]:
df_can[['Country', 1980, 1981, 1982, 1983, 1984, 1985]] # returns a dataframe

             Country  1980  1981  1982  1983  1984   1985
0        Afghanistan  16.0  39.0  39.0  47.0  71.0  340.0
1            Albania   1.0   0.0   0.0   0.0   0.0    0.0
2            Algeria  80.0  67.0  71.0  69.0  63.0   44.0
3     American Samoa   0.0   1.0   0.0   0.0   0.0    0.0
4            Andorra   0.0   0.0   0.0   0.0   0.0    0.0
...              ...   ...   ...   ...   ...   ...    ...
1008             NaN   NaN   NaN   NaN   NaN   NaN    NaN
1009             NaN   NaN   NaN   NaN   NaN   NaN    NaN
1010             NaN   NaN   NaN   NaN   NaN   NaN    NaN
1011             NaN   NaN   NaN   NaN   NaN   NaN    NaN
1012             NaN   NaN   NaN   NaN   NaN   NaN    NaN

[1013 rows x 7 columns]

In [43]:
df_can.set_index('Country', inplace=True)

In [45]:
df_can.index.name = None

In [46]:
df_can.loc['Japan']

Type                Immigrants
Coverage            Foreigners
AREA                       935
Continent                 Asia
REG                        906
Region            Eastern Asia
DEV                        901
DevName      Developed regions
1980                       701
1981                       756
1982                       598
1983                       309
1984                       246
1985                       198
1986                       248
1987                       422
1988                       324
1989                       494
1990                       379
1991                       506
1992                       605
1993                       907
1994                       956
1995                       826
1996                       994
1997                       924
1998                       897
1999                      1083
2000                      1010
2001                      1092
2002                       806
2003                       817
2004                       973
2005                      1067
2006                      1212
2007                      1250
2008                      1284
2009                      1194
2010                      1168
2011                      1265
2012                      1214
2013                       982
Total                    30449
Name: Japan, dtype: object

In [47]:
df_can.iloc[87]

Type                Immigrants
Coverage            Foreigners
AREA                       935
Continent                 Asia
REG                        906
Region            Eastern Asia
DEV                        901
DevName      Developed regions
1980                       701
1981                       756
1982                       598
1983                       309
1984                       246
1985                       198
1986                       248
1987                       422
1988                       324
1989                       494
1990                       379
1991                       506
1992                       605
1993                       907
1994                       956
1995                       826
1996                       994
1997                       924
1998                       897
1999                      1083
2000                      1010
2001                      1092
2002                       806
2003                       817
2004                       973
2005                      1067
2006                      1212
2007                      1250
2008                      1284
2009                      1194
2010                      1168
2011                      1265
2012                      1214
2013                       982
Total                    30449
Name: Japan, dtype: object

In [48]:
df_can[df_can.index == 'Japan']

,Type,Coverage,AREA,Continent,REG,Region,DEV,DevName,1980,1981,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Japan,Immigrants,Foreigners,935.0,Asia,906.0,Eastern Asia,901.0,Developed regions,701.0,756.0,...,1067.0,1212.0,1250.0,1284.0,1194.0,1168.0,1265.0,1214.0,982.0,30449.0

In [49]:
# 2. for year 2013
df_can.loc['Japan', 2013]

982.0

In [50]:
df_can.loc['Japan', [1980, 1981, 1982, 1983, 1984, 1984]]

1980    701
1981    756
1982    598
1983    309
1984    246
1984    246
Name: Japan, dtype: object

In [51]:
df_can.iloc[87, [3, 4, 5, 6, 7, 8]]

Continent                 Asia
REG                        906
Region            Eastern Asia
DEV                        901
DevName      Developed regions
1980                       701
Name: Japan, dtype: object

In [52]:
df_can.loc['Haiti']
df_can.loc['Haiti', 2000]
df_can.loc['Haiti', [1990, 1991, 1992, 1993, 1994, 1995]]

1990    2379
1991    2829
1992    2399
1993    3655
1994    2100
1995    2014
Name: Haiti, dtype: object

In [53]:
# To avoid this ambuigity,
# Convert the column names into strings: '1980' to '2013'.

df_can.columns = list(map(str, df_can.columns))

In [54]:
# useful for plotting later on
years = list(map(str, range(1980, 2014)))
years

['1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [55]:
# 1. create the condition boolean series
condition = df_can['Continent'] == 'Asia'
print(condition)

Afghanistan        True
Albania           False
Algeria           False
American Samoa    False
Andorra           False
                  ...
NaN               False
NaN               False
NaN               False
NaN               False
NaN               False
Name: Continent, Length: 1013, dtype: bool

In [56]:
# 2. pass this condition into the dataFrame
df_can[condition]

,Type,Coverage,AREA,Continent,REG,Region,DEV,DevName,1980,1981,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Afghanistan,Immigrants,Foreigners,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,16.0,39.0,...,3436.0,3009.0,2652.0,2111.0,1746.0,1758.0,2203.0,2635.0,2004.0,65977.0
Armenia,Immigrants,Foreigners,935.0,Asia,922.0,Western Asia,902.0,Developing regions,0.0,0.0,...,224.0,218.0,198.0,205.0,267.0,252.0,236.0,258.0,207.0,6069.0
Azerbaijan,Immigrants,Foreigners,935.0,Asia,922.0,Western Asia,902.0,Developing regions,0.0,0.0,...,359.0,236.0,203.0,125.0,165.0,209.0,138.0,161.0,57.0,5408.0
Bahrain,Immigrants,Foreigners,935.0,Asia,922.0,Western Asia,902.0,Developing regions,0.0,2.0,...,12.0,12.0,22.0,9.0,35.0,28.0,21.0,39.0,32.0,3234.0
Bangladesh,Immigrants,Foreigners,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,83.0,84.0,...,4171.0,4014.0,2897.0,2939.0,2104.0,4721.0,2694.0,2640.0,3789.0,72906.0
Bhutan,Immigrants,Foreigners,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,0.0,0.0,...,5.0,10.0,7.0,36.0,865.0,1464.0,1879.0,1075.0,487.0,13214.0
Brunei Darussalam,Immigrants,Foreigners,935.0,Asia,920.0,South-Eastern Asia,902.0,Developing regions,79.0,6.0,...,4.0,5.0,11.0,10.0,5.0,12.0,6.0,3.0,6.0,3357.0
Cambodia,Immigrants,Foreigners,935.0,Asia,920.0,South-Eastern Asia,902.0,Developing regions,12.0,19.0,...,370.0,529.0,460.0,354.0,203.0,200.0,196.0,233.0,288.0,9295.0
China,Immigrants,Foreigners,935.0,Asia,906.0,Eastern Asia,902.0,Developing regions,5123.0,6682.0,...,42584.0,33518.0,27642.0,30037.0,29622.0,30391.0,28502.0,33024.0,34129.0,662705.0
"China, Hong Kong Special Administrative Region",Immigrants,Foreigners,935.0,Asia,906.0,Eastern Asia,902.0,Developing regions,0.0,0.0,...,729.0,712.0,674.0,897.0,657.0,623.0,591.0,728.0,774.0,12070.0
"China, Macao Special Administrative Region",Immigrants,Foreigners,935.0,Asia,906.0,Eastern Asia,902.0,Developing regions,0.0,0.0,...,21.0,32.0,16.0,12.0,21.0,21.0,13.0,33.0,29.0,3027.0
Cyprus,Immigrants,Foreigners,935.0,Asia,922.0,Western Asia,902.0,Developing regions,132.0,128.0,...,7.0,9.0,4.0,7.0,6.0,18.0,6.0,12.0,16.0,3885.0
Democratic People's Republic of Korea,Immigrants,Foreigners,935.0,Asia,906.0,Eastern Asia,902.0,Developing regions,1.0,1.0,...,14.0,10.0,7.0,19.0,11.0,45.0,97.0,66.0,17.0,3131.0
Georgia,Immigrants,Foreigners,935.0,Asia,922.0,Western Asia,902.0,Developing regions,0.0,0.0,...,114.0,125.0,132.0,112.0,128.0,126.0,139.0,147.0,125.0,4827.0
India,Immigrants,Foreigners,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,8880.0,8670.0,...,36210.0,33848.0,28742.0,28261.0,29456.0,34235.0,27509.0,30933.0,33087.0,699242.0
Indonesia,Immigrants,Foreigners,935.0,Asia,920.0,South-Eastern Asia,902.0,Developing regions,186.0,178.0,...,632.0,613.0,657.0,661.0,504.0,712.0,390.0,395.0,387.0,15907.0
Iran (Islamic Republic of),Immigrants,Foreigners,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,1172.0,1429.0,...,5837.0,7480.0,6974.0,6475.0,6580.0,7477.0,7479.0,7534.0,11291.0,183261.0
Iraq,Immigrants,Foreigners,935.0,Asia,922.0,Western Asia,902.0,Developing regions,262.0,245.0,...,2226.0,1788.0,2406.0,3543.0,5450.0,5941.0,6196.0,4041.0,4918.0,72548.0
Israel,Immigrants,Foreigners,935.0,Asia,922.0,Western Asia,902.0,Developing regions,1403.0,1711.0,...,2446.0,2625.0,2401.0,2562.0,2316.0,2755.0,1970.0,2134.0,1945.0,69267.0
Japan,Immigrants,Foreigners,935.0,Asia,906.0,Eastern Asia,901.0,Developed regions,701.0,756.0,...,1067.0,1212.0,1250.0,1284.0,1194.0,1168.0,1265.0,1214.0,982.0,30449.0
Jordan,Immigrants,Foreigners,935.0,Asia,922.0,Western Asia,902.0,Developing regions,177.0,160.0,...,1940.0,1827.0,1421.0,1581.0,1235.0,1831.0,1635.0,1206.0,1255.0,38165.0
Kazakhstan,Immigrants,Foreigners,935.0,Asia,5500.0,Central Asia,902.0,Developing regions,0.0,0.0,...,506.0,408.0,436.0,394.0,431.0,377.0,381.0,462.0,348.0,15827.0
Kuwait,Immigrants,Foreigners,935.0,Asia,922.0,Western Asia,902.0,Developing regions,1.0,0.0,...,66.0,35.0,62.0,53.0,68.0,67.0,58.0,73.0,48.0,4784.0
Kyrgyzstan,Immigrants,Foreigners,935.0,Asia,5500.0,Central Asia,902.0,Developing regions,0.0,0.0,...,173.0,161.0,135.0,168.0,173.0,157.0,159.0,278.0,123.0,9690.0
Lao People's Democratic Republic,Immigrants,Foreigners,935.0,Asia,920.0,South-Eastern Asia,902.0,Developing regions,11.0,6.0,...,42.0,74.0,53.0,32.0,39.0,54.0,22.0,25.0,15.0,3846.0
Lebanon,Immigrants,Foreigners,935.0,Asia,922.0,Western Asia,902.0,Developing regions,1409.0,1119.0,...,3709.0,3802.0,3467.0,3566.0,3077.0,3432.0,3072.0,1614.0,2172.0,118118.0
Malaysia,Immigrants,Foreigners,935.0,Asia,920.0,South-Eastern Asia,902.0,Developing regions,786.0,816.0,...,593.0,580.0,600.0,658.0,640.0,802.0,409.0,358.0,204.0,27174.0
Maldives,Immigrants,Foreigners,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,0.0,0.0,...,0.0,0.0,2.0,1.0,7.0,4.0,3.0,1.0,1.0,7368.0
Mongolia,Immigrants,Foreigners,935.0,Asia,906.0,Eastern Asia,902.0,Developing regions,0.0,0.0,...,59.0,64.0,82.0,59.0,118.0,169.0,103.0,68.0,99.0,3695.0
Myanmar,Immigrants,Foreigners,935.0,Asia,920.0,South-Eastern Asia,902.0,Developing regions,80.0,62.0,...,210.0,953.0,1887.0,975.0,1153.0,556.0,368.0,193.0,262.0,12002.0
Nepal,Immigrants,Foreigners,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,1.0,1.0,...,607.0,540.0,511.0,581.0,561.0,1392.0,1129.0,1185.0,1308.0,17560.0
Oman,Immigrants,Foreigners,935.0,Asia,922.0,Western Asia,902.0,Developing regions,0.0,0.0,...,14.0,18.0,16.0,10.0,7.0,14.0,10.0,13.0,11.0,2983.0
Pakistan,Immigrants,Foreigners,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,978.0,972.0,...,14314.0,13127.0,10124.0,8994.0,7217.0,6811.0,7468.0,11227.0,12603.0,248938.0
Philippines,Immigrants,Foreigners,935.0,Asia,920.0,South-Eastern Asia,902.0,Developing regions,6051.0,5921.0,...,18139.0,18400.0,19837.0,24887.0,28573.0,38617.0,36765.0,34315.0,29544.0,514148.0
Qatar,Immigrants,Foreigners,935.0,Asia,922.0,Western Asia,902.0,Developing regions,0.0,0.0,...,11.0,2.0,5.0,9.0,6.0,18.0,3.0,14.0,6.0,2916.0
Republic of Korea,Immigrants,Foreigners,935.0,Asia,906.0,Eastern Asia,902.0,Developing regions,1011.0,1456.0,...,5832.0,6215.0,5920.0,7294.0,5874.0,5537.0,4588.0,5316.0,4509.0,145324.0
Saudi Arabia,Immigrants,Foreigners,935.0,Asia,922.0,Western Asia,902.0,Developing regions,0.0,0.0,...,198.0,252.0,188.0,249.0,246.0,330.0,278.0,286.0,267.0,6184.0
Singapore,Immigrants,Foreigners,935.0,Asia,920.0,South-Eastern Asia,902.0,Developing regions,241.0,301.0,...,392.0,298.0,690.0,734.0,366.0,805.0,219.0,146.0,141.0,17336.0
Sri Lanka,Immigrants,Foreigners,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,185.0,371.0,...,4930.0,4714.0,4123.0,4756.0,4547.0,4422.0,3309.0,3338.0,2394.0,155696.0
State of Palestine,Immigrants,Foreigners,935.0,Asia,922.0,Western Asia,902.0,Developing regions,0.0,0.0,...,453.0,627.0,441.0,481.0,400.0,654.0,555.0,533.0,462.0,9271.0
Syrian Arab Republic,Immigrants,Foreigners,935.0,Asia,922.0,Western Asia,902.0,Developing regions,315.0,419.0,...,1458.0,1145.0,1056.0,919.0,917.0,1039.0,1005.0,650.0,1009.0,34244.0
Tajikistan,Immigrants,Foreigners,935.0,Asia,5500.0,Central Asia,902.0,Developing regions,0.0,0.0,...,85.0,46.0,44.0,15.0,50.0,52.0,47.0,34.0,39.0,7840.0
Thailand,Immigrants,Foreigners,935.0,Asia,920.0,South-Eastern Asia,902.0,Developing regions,56.0,53.0,...,575.0,500.0,487.0,519.0,512.0,499.0,396.0,296.0,400.0,11931.0
Turkey,Immigrants,Foreigners,935.0,Asia,922.0,Western Asia,902.0,Developing regions,481.0,874.0,...,2065.0,1638.0,1463.0,1122.0,1238.0,1492.0,1257.0,1068.0,729.0,34540.0
Turkmenistan,Immigrants,Foreigners,935.0,Asia,5500.0,Central Asia,902.0,Developing regions,0.0,0.0,...,40.0,26.0,37.0,13.0,20.0,30.0,20.0,20.0,14.0,7647.0
United Arab Emirates,Immigrants,Foreigners,935.0,Asia,922.0,Western Asia,902.0,Developing regions,0.0,2.0,...,31.0,42.0,37.0,33.0,37.0,86.0,60.0,54.0,46.0,3595.0
Uzbekistan,Immigrants,Foreigners,935.0,Asia,5500.0,Central Asia,902.0,Developing regions,0.0,0.0,...,330.0,262.0,284.0,215.0,288.0,289.0,162.0,235.0,167.0,10705.0
Viet Nam,Immigrants,Foreigners,935.0,Asia,920.0,South-Eastern Asia,902.0,Developing regions,1191.0,1829.0,...,1852.0,3153.0,2574.0,1784.0,2171.0,1942.0,1723.0,1731.0,2112.0,99903.0
Yemen,Immigrants,Foreigners,935.0,Asia,922.0,Western Asia,902.0,Developing regions,1.0,2.0,...,161.0,140.0,122.0,133.0,128.0,211.0,160.0,174.0,217.0,5744.0

In [57]:
df_can[(df_can['Continent']=='Asia') & (df_can['Region']=='Southern Asia')]

,Type,Coverage,AREA,Continent,REG,Region,DEV,DevName,1980,1981,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Afghanistan,Immigrants,Foreigners,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,16.0,39.0,...,3436.0,3009.0,2652.0,2111.0,1746.0,1758.0,2203.0,2635.0,2004.0,65977.0
Bangladesh,Immigrants,Foreigners,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,83.0,84.0,...,4171.0,4014.0,2897.0,2939.0,2104.0,4721.0,2694.0,2640.0,3789.0,72906.0
Bhutan,Immigrants,Foreigners,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,0.0,0.0,...,5.0,10.0,7.0,36.0,865.0,1464.0,1879.0,1075.0,487.0,13214.0
India,Immigrants,Foreigners,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,8880.0,8670.0,...,36210.0,33848.0,28742.0,28261.0,29456.0,34235.0,27509.0,30933.0,33087.0,699242.0
Iran (Islamic Republic of),Immigrants,Foreigners,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,1172.0,1429.0,...,5837.0,7480.0,6974.0,6475.0,6580.0,7477.0,7479.0,7534.0,11291.0,183261.0
Maldives,Immigrants,Foreigners,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,0.0,0.0,...,0.0,0.0,2.0,1.0,7.0,4.0,3.0,1.0,1.0,7368.0
Nepal,Immigrants,Foreigners,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,1.0,1.0,...,607.0,540.0,511.0,581.0,561.0,1392.0,1129.0,1185.0,1308.0,17560.0
Pakistan,Immigrants,Foreigners,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,978.0,972.0,...,14314.0,13127.0,10124.0,8994.0,7217.0,6811.0,7468.0,11227.0,12603.0,248938.0
Sri Lanka,Immigrants,Foreigners,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,185.0,371.0,...,4930.0,4714.0,4123.0,4756.0,4547.0,4422.0,3309.0,3338.0,2394.0,155696.0

In [58]:
df_can.sort_values(by='Total', ascending=False, axis=0, inplace=True)
top_5 = df_can.head(5)
top_5

,Type,Coverage,AREA,Continent,REG,Region,DEV,DevName,1980,1981,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Total,Immigrants,Both,999.0,World,999.0,World,999.0,World,143137.0,128641.0,...,262242.0,251640.0,236753.0,247244.0,252170.0,280687.0,248748.0,257903.0,259021.0,6927209.0
India,Immigrants,Foreigners,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,8880.0,8670.0,...,36210.0,33848.0,28742.0,28261.0,29456.0,34235.0,27509.0,30933.0,33087.0,699242.0
China,Immigrants,Foreigners,935.0,Asia,906.0,Eastern Asia,902.0,Developing regions,5123.0,6682.0,...,42584.0,33518.0,27642.0,30037.0,29622.0,30391.0,28502.0,33024.0,34129.0,662705.0
United Kingdom of Great Britain and Northern Ireland,Immigrants,Foreigners,908.0,Europe,924.0,Northern Europe,901.0,Developed regions,22045.0,24796.0,...,7258.0,7140.0,8216.0,8979.0,8876.0,8724.0,6204.0,6195.0,5827.0,554233.0
Unknown,Immigrants,Foreigners,999.0,World,999.0,World,999.0,World,44000.0,18078.0,...,4785.0,4583.0,4348.0,4197.0,3402.0,3731.0,2554.0,1681.0,1484.0,518056.0